.HeaderSidebar {
  @include flex(space-between);
  width: 100vw;
  height: 55px;
  color: $defaultColor;
  line-height: 55px;
  background-color: $activeColor;
  .HeaderSidebarTitle{
    padding-left: 20px;
    font-size: 24px;
  }
  .HeaderSidebarIcon {
    margin-right: 20px;
    background-color: $defaultColor;
  }
}
