.leftSidebar {
  width: 250px;
  background-color: $backgroundColor !important;
  :global {
    .ant-menu-inline {
      background-color: $defaultColor !important;
    }
    .ant-menu-item-only-child {
      margin: 0;
    }
    .ant-menu-item-selected {
      background-color: $activeColor !important;
      a {
        color: $defaultColor !important;
      }
    }
    .ant-menu-item-active:not(.ant-menu-item-selected) {
      margin-left: 10px;
      transform: scale(1.1);
      a {
        color: $activeColor !important;
      }
    }
  }
}
