.App {
  width: 100vw;
  min-height: 100vh;
  color: #eee;
  font-size: calc(10px + 2vmin);
  background-color: #222831;
  .main {
    display: flex;
    width: 100vw;
    height: calc(100vh - 70px);
    .mainContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc(100vw - 250px);
    }
  }
}
