// $activeColor: #ffd369;
// $defaultColor: #222831;
// $backgroundColor: #393e46;
// $fontColor: #eee;
// $otherFontColor: #4d4d4d;
// $activeColor: #f582ae;
// $defaultColor: #f3d2c1;
// $backgroundColor: #fef6e4;
// $fontColor: #001858ee;
// $otherFontColor: #172c66;
// $activeColor: #f9bc60;
// $defaultColor: #004643;
// $backgroundColor: #abd1c6;
// $fontColor: #fffffe;
// $otherFontColor: #001e1d;
$activeColor: #7f5af0;
$defaultColor: #16161a;
$backgroundColor: #94a1b2;
$fontColor: #fffffe;
$otherFontColor: #001e1d;
$white: #fff;
$black: #000;


/* flex布局 */
@mixin flex($justify: space-between, $align: center, $wrap: nowrap , $direction: row) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
}

// 通用 border
@mixin border($color) {
  border: 1px solid $color;
}

// 手型
@mixin cursor($pointer: pointer) {
  cursor: $pointer;
}